<html>
    <body>
        <div>Hello {{Fullname}}</div><br/>
        <div>Your password has been reset, if you did not reset this password please contact support@transform-surveys.com</div>
    </body>
</html>
