<html>
    <body>
        <div>Hello,</div><br/>
        <div>You have received a new contact us email from blackpuppy.info</div><br/>
        <div>Name: {{Name}}</div><br/>
        <div>Email: {{Email}}</div><br/>
        <div>{{Body}}</div><br/>
    </body>
</html>
